:host {
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: 3% 5%;
}

.slide-container {
    width: 300%;
}

.slider__slide {
    float: left;
    position: relative;
    width: 33.33%;
}

.prev {
    border-bottom: 6px solid;
    border-left: 6px solid;
    transform: rotate(45deg);
    left: 20px;
}

.next {
    border-bottom: 6px solid;
    border-left: 6px solid;
    transform: rotate(-135deg);
    right: 20px;
}

.arrows {
    width: 48px;
    height: 48px;
    position: absolute;
    border-color: var(--global--color--primary-light);
    top: 50%;
    margin-top: -31px;
    cursor: pointer;
}

.slider__radio-button-wrapper {
    position: absolute;
    bottom: 5%;
    right: 0;
    left: 0;
    width: 100px;
    margin: auto;
}

.slider__radio-button {
    visibility: hidden;
}

.slider__styled-radio-button {
    position: relative;
    right: 20px;
    margin: 0 10px;
    cursor: pointer;
    
    &::before {
        content: '';
        position: absolute;
        top: 5%;
        width: 18px;
        height: 18px;
        border: 2px solid var(--global--color--primary-light);
        border-radius: 100%;
    }

    .slider__radio-button:not(:checked) + &::after,
    .slider__radio-button:checked + &::after {
        content: '';
        position: absolute;
        top: 5px;
        left: 4px;
        width: 14px;
        height: 14px;
        background-color: var(--global--color--primary-light);
        border-radius: 100%;
        transition: all 0.2s ease;
    }

    .slider__radio-button:not(:checked) + &::after {
        opacity: 0;
        transform: scale(0);
    }

    .slider__radio-button:checked + &::after {
        opacity: 1;
        transform: scale(1);
    }
}

.most-popular {
    max-width: 1350px;
    margin: 0 auto;
    padding: 50px 5%;
}

.most-popular__title {
    width: 100%;
    text-align: center;
}