<main class="main">
    <div class="slider">
        <img class="slider__slide" 
            [@selectSlide]="sliderService.getSlide()"
            *ngFor="let slide of dataProvider.slides"
            [src]="slide" 
            alt="Slide">

        <div sliderButton class="arrows prev" (click)="sliderService.decreaseIndex()"></div>
        <div sliderButton class="arrows next" (click)="sliderService.increaseIndex()"></div>
        
        <div class="slider__radio-button-wrapper">
            <input class="slider__radio-button" type="radio"
                   name="slide-trigger" id="first" [checked]="sliderService.isFirstButtonChecked()">
            <label sliderButton class="slider__styled-radio-button" for="first" (click)="sliderService.setSlide(0)"></label>

            <input class="slider__radio-button" type="radio"
                   name="slide-trigger" id="second" [checked]="sliderService.isSecondButtonChecked()">
            <label sliderButton class="slider__styled-radio-button" for="second" (click)="sliderService.setSlide(1)"></label>

            <input class="slider__radio-button" type="radio"
                   name="slide-trigger" id="third" [checked]="sliderService.isThirdButtonChecked()">
            <label sliderButton class="slider__styled-radio-button" for="third" (click)="sliderService.setSlide(2)"></label>
        </div>
    </div>

    <div class="most-popular">
        <h2 class="most-popular__title">Most Popular</h2>
        <app-products-grid [productItems]="dataProvider.mostPopular"></app-products-grid>
    </div>
</main>
