:host {
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
}

.main__slider {
    display: flex;
    overflow-x: auto;
    width: 90%;
    height: 400px;
    margin: 3% 5%;
}

.main__slide {
    width: 100%;
    flex-shrink: 0;
    height: 100%;
}

#slide-1 {
    background-color: wheat;
}

#slide-2 {
    background-color: green;
}

#slide-3 {
    background-color: rgb(236, 171, 49);
}

.main__most-popular {
    max-width: 1350px;
    margin: 0 auto;
    padding: 50px 5%;
}

.title {
    width: 100%;
    text-align: center;
}