.product-item {
    height: 280px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgb(226, 224, 255);

    &:hover {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.product-item__img-wrapper {
    position: relative;
    height: 70%;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    overflow: hidden;
}

.product-item__img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    max-width: 95%;
    max-height: 95%;
}

.product-item__info {
    padding: 5px;
}

.product-item__title {
    text-align: center;
    height: 2em;
    margin-bottom: 10px;
}

.product-item__price {
    display: inline-block;
    width: 50%;
}

.product-item__buy-button {
    display: inline-block;
    width: 50%;
}

.product-item__description {
    display: none;
    width: 186px;
    position: relative;
    z-index: 1;
    top: 8px;
    right: 7px;
    padding: 5px;
    padding-bottom: 8px;
    border: 2px solid rgb(0, 0, 0);
    border-top: 2px dashed rgb(1, 0, 0);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgb(226, 224, 255);

    .product-item:hover & {
        display: block;
    }
}