<div class="product-item">
  <div class="product-item__img-wrapper">
    <img [src]="productItem.image" alt="Product Image" class="product-item__img">
  </div>
  <div class="product-item__info">
    <div class="product-item__title">{{ productItem.title }}</div>
    <div class="product-item__price">{{ productItem.price }} UAH</div>
    <button class="product-item__buy-button">Buy</button>
    <div class="product-item__description">
      {{ productItem.diagonal }}, {{ productItem.os }},
      {{ productItem.screenSize }}, {{ productItem.memoryCapacity }}
    </div>
  </div>
</div>
