.footer {
    display: grid;
    grid-template-columns: 0.7fr 1.8fr 0.5fr;
    grid-template-rows: auto 1.3rem;
    width: 100%;
    background-color: var(--global--color--primary-dark);
    padding-top: 10px;
}

.footer__social-media {
    padding-left: 10px;
}

.footer__social-media-logo {
    height: 30px;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.footer__copyright {
    grid-column: 1 / 4;
    grid-row-start: 2;
    text-align: center;
    font-size: 0.9rem;
}

.footer__about-us {
    padding-right: 10px;
    padding-bottom: 25px;
}

.footer__offices {
    width: 190px;
}

.footer__title {
    font-size: 1.2rem;
    font-weight: var(--global--font-weight--bold);
}