<footer class="footer">
    <div class="footer__social-media">
        <span class="footer__title">Social media:</span><br>
        <img class="footer__social-media-logo" src="assets/images/facebook-logo.svg" alt="Facebook" title="Facebook">
        <img class="footer__social-media-logo" src="assets/images/skype-logo.svg" alt="Skype" title="Skype">
        <img class="footer__social-media-logo" src="assets/images/telegram-logo.svg" alt="Telegram" title="Telegram">
        <img class="footer__social-media-logo" src="assets/images/twitter-logo.svg" alt="Twitter" title="Twitter">
        <img class="footer__social-media-logo" src="assets/images/whatsapp-logo.svg" alt="WhatsApp" title="WhatsApp">
        <img class="footer__social-media-logo" src="assets/images/youtube-logo.svg" alt="YouTube" title="YouTube">
    </div>
    <div class="footer__about-us">
        <span class="footer__title">About us:</span> <br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur fugit 
        qui ullam animi quod quasi, autem nesciunt sunt deserunt, sint quo eum excepturi est! 
        Atque dicta ea laborum iure suscipit.
    </div>
    <div class="footer__offices">
        <span class="footer__title">Our offices:</span><br>
        Cherkasy, Haharina st, 1<br>
        Kyiv, Haharina st, 1
    </div>
    <div class="footer__copyright">© ElectroShop 2019</div>
</footer>
