.order-form {
    position: absolute;
    display: inline-block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 60%;
    height: 70%;
}

.order-form__label, .order-form__field {
    display: block;
    width: 100%;
}

.order-form__label {
    font-weight: 700;
}

.order-form__field {
    border: 2px solid var(--global--color--black);
    border-radius: var(--global--border-radius);
    height: 30px;
    margin-bottom: 10px;
    outline: none;
    padding-left: 8px;
}

.order-form__field.ng-invalid.submitted {
    border: 2px solid rgb(255, 65, 65);
}

.order-form__button {
    margin-top: 30px;
    padding: 5px 15px;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid var(--global--color--black);
    border-radius: var(--global--border-radius);
    outline: none;
    cursor: pointer;

    &:hover {
        background-color: rgb(219, 219, 219);
    }

    &:active {
        background-color: rgb(187, 187, 187);
    }
}

.order-form__button--complete-order {
    position: absolute;
    right: -10px;
}

.order-sent-message {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    text-align: center;
    margin: auto;
    font-size: 20px;
}