<p class="order-sent-message">
  Your order is sent. We'll send you feedback as soon as possible.
</p>

<!-- <form class="order-form">
  <label class="order-form__label" for="name">Name:</label>
  <input class="order-form__field" type="text" id="name">
  
  <label class="order-form__label" for="surname">Surname:</label>
  <input class="order-form__field" type="text" id="surname">
  
  <label class="order-form__label" for="email">E-mail:</label>
  <input class="order-form__field" type="text" id="email">
  
  <label class="order-form__label" for="phone-number">Phone number:</label>
  <input class="order-form__field" type="text" id="phone-number">
  
  <button class="order-form__button">Back To Cart</button>
  <button class="order-form__button order-form__button--complete-order">Complete Order</button>
</form> -->

