.header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 130px;
    background-color: var(--global--color--primary-light);
}

.header__logo {
    margin: 15px;
    height: 100px;
    width: 226px;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.header__cart-icon {
    height: 30px;
}

.cart-button {
    position: relative;
    height: 36px;
    width: 50px;
    padding: 2px;
    margin-right: 15px;
    margin-top: 76px;
    background-color: var(--global--color--secondary);
    border-radius: 10px;
    border: 2px solid var(--global--color--secondary);
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:active {
        border: 2px solid rgb(172, 120, 255);
    }
}

.cart-button__cart-counter {
    position: absolute;
    top: -15px;
    left: -15px;
    line-height: 24px;
    width: 24px;
    height: 24px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
}

.cart-button__cart-icon {
    height: 28px;
}

.header-center {
    position: relative;
    width: 50%;
}