.content {
    display: flex;
    width: 100%;
    background-color: rgb(171, 165, 253);
    background-image: linear-gradient(rgb(232, 218, 255), rgb(116, 116, 252));
}

.content__up-button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(143, 136, 248);
    border-radius: 100%;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}