.languages {
    display: inline-block;
    background-color: rgb(200, 166, 255);
    border: 2px solid rgb(101, 101, 250);
    border-top: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 5px;
    padding-top: none;
}

