<div class="contact-numbers">
    Contact numbers: +38&#8209;XXX&#8209;XXX&#8209;XX&#8209;XX, +38&#8209;XXX&#8209;XXX&#8209;XX&#8209;XX, 
    +38&#8209;XXX&#8209;XXX&#8209;XX&#8209;XX
</div>
<div class="search-bar">
    <input class="search-bar__search-field" type="text" name="search-field" placeholder="Search">
    <button routerLink="/search" class="search-bar__search-button">
        <img class="search-bar__magnifying-glass" src="assets/images/icons/magnifying-glass.svg" alt="Search">
    </button>
</div>
