<div class="contact-numbers" i18n="@@contactNumbers">
    Contact numbers: +38&#8209;XXX&#8209;XXX&#8209;XX&#8209;XX, +38&#8209;XXX&#8209;XXX&#8209;XX&#8209;XX, 
    +38&#8209;XXX&#8209;XXX&#8209;XX&#8209;XX
</div>
<form (submit)="onSubmit()" #searchForm="ngForm">
    <div class="search-bar">
        <input 
            ngModel
            autocomplete="off" 
            class="search-bar__search-field" 
            type="text" 
            name="q" 
            placeholder="Search"
            i18n-placeholder="@@searchPlaceholder"
            required>
        <button [disabled]="!searchForm.valid" routerLink="/search" class="search-bar__search-button" type="submit">
            <img class="search-bar__magnifying-glass" src="assets/images/icons/magnifying-glass.svg" alt="Search">
        </button>
    </div>
</form>
