:root {
    --global--color--primary: rgb(116, 116, 252);
    --global--color--primary-light: rgb(232, 218, 255);
    --global--color--primary-dark: rgb(101, 101, 250);

    --global--color--secondary: rgb(200, 166, 255);
    --global--color--black: rgb(0, 0, 0);

    --global--border-radius: 15px;

    --global--font-weight--bold: 700;
}