.filter-section {
    min-height: 720px;
    width: 200px;
    padding: 10px;
}

.filter-parameter {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 5px;
}

.filter-parameter__title {
    position: relative;
    width: 100%;
    font-weight: 700;
    margin-bottom: 8px;
}

.filter-parameter__checkbox {
    visibility: hidden;
}

.filter-parameter__down-arrow-wrapper {
    position: absolute;
    right: 0;
}

.down-arrow-icon {
    height: 20px;
}

.filter-parameter--price {
    height: 55px;
}

.price-field {
    width: 30%;
}

.submit-price {
    margin-left: 8px;
}