.filter-section {
    min-height: 720px;
    width: 200px;
    padding: 10px;
}

.filter-parameter {
    position: relative;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 5px;
}

.filter-parameter__title {
    display: inline-block;
    width: 90%;
    font-weight: 700;
}

.filter-parameter__checkbox {
    visibility: hidden;

    &:checked + .filter-parameter__down-arrow-wrapper {
        transform: rotate(0deg);
    }

    &:checked ~ .filter-parameter__option-list {
        display: none;
    }
}

.filter-parameter__down-arrow-wrapper {
    height: 20px;
    position: absolute;
    right: 5px;
    top: 4px;
    transform: rotate(180deg);
    transition: transform 0.3s;
    cursor: pointer;
}

.down-arrow-icon {
    height: 100%;
}

.filter-parameter--price {
    height: 55px;
}

.price-field {
    margin-top: 8px;
    width: 30%;
}

.submit-price {
    margin-left: 8px;
}