.filter-section {
    min-height: 720px;
    width: 228px;
    padding: 10px;
}

.filter-parameter {
    position: relative;
    border: 2px solid var(--global--color--black);
    border-radius: var(--global--border-radius);
    margin-bottom: 15px;
    padding: 5px;
}

.filter-parameter__title {
    display: inline-block;
    width: 90%;
    font-weight: var(--global--font-weight--bold);
}

.filter-parameter__checkbox {
    visibility: hidden;

    &:checked + .filter-parameter__down-arrow-wrapper {
        transform: rotate(0deg);
    }

    &:checked ~ .filter-parameter__option-list {
        display: none;
    }
}

.filter-parameter__down-arrow-wrapper {
    height: 20px;
    position: absolute;
    right: 5px;
    top: 4px;
    transform: rotate(180deg);
    transition: transform 0.3s;
    cursor: pointer;
}

.down-arrow-icon {
    height: 100%;
}

.filter-parameter__option-list {
    list-style-type: none;
    padding-left: 5px;
    margin: 8px 0;
}

.filter-parameter__option {
    margin-bottom: 2px;
}

.option-checkbox {
    visibility: hidden;

    &:checked + .option-label::after {
        visibility: visible;
    }
}

.option-label {
    position: relative;
    cursor: pointer;
    user-select: none;

    &::before {
        content: '';
        display: inline-block;
        position: relative;
        top: 2px;
        right: 3px;
        height: 14px;
        width: 14px;
        border: 2px solid var(--global--color--black);
    }

    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        left: 2px;
        top: 1px;
        height: 10px;
        width: 5px;
        border: solid var(--global--color--black);
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        visibility: hidden;
    }
}

.filter-parameter--price {
    height: 55px;
}

.price-field {
    margin-top: 8px;
    width: 30%;
}

.submit-price {
    margin-left: 8px;
    cursor: pointer;
}