<aside class="filter-section">
  <div class="filter-parameter" *ngFor="let parameter of parameters; let parameterIndex = index;">
      <div class="filter-parameter__title">
        {{ parameter.title }}
      </div> 

      <input class="filter-parameter__checkbox" type="checkbox" id="checkbox-{{ parameterIndex }}">
      <label class="filter-parameter__down-arrow-wrapper" for="checkbox-{{ parameterIndex }}">
        <img class="down-arrow-icon" src="assets/images/icons/down-arrow.svg" alt="Toggle">
      </label> 
      
      <ul class="filter-parameter__option-list">
          <li class="filter-parameter__option"
             *ngFor="let itemTitle of getItemTitles(parameter); let itemIndex = index;">

            <input class="option-checkbox" type="checkbox" (change)="getCheckedItemTitle(itemTitle, parameterIndex)"
                   id="option-checkbox-{{ parameterIndex }}-{{ itemIndex }}" [checked]="isChecked(itemTitle)">
            <label class="option-label" for="option-checkbox-{{ parameterIndex }}-{{ itemIndex }}">
              {{ itemTitle }} 
              <ng-template [ngIf]="parameter.items[itemTitle] > 1">({{ parameter.items[itemTitle] }})</ng-template>
            </label>

          </li>
      </ul>
  </div>

  <div class="filter-parameter filter-parameter--price">
      <div class="filter-parameter__title">Price:</div>
      <input 
        #minPrice 
        class="price-field" 
        maxlength="6" 
        type="text" 
        name="min" 
        value="0" 
        (click)="minPrice.select()">
       - 
      <input 
        #maxPrice 
        class="price-field" 
        maxlength="6" 
        type="text" 
        name="max" 
        value="999999" 
        (click)="maxPrice.select()">
      <button class="submit-price" (click)="addPriceRangeParameter()">OK</button>
  </div>
</aside>
