<aside class="filter">
  <div class="filter__parameter title">
      <div class="filter__parameter-title">Category:</div> 
      <ul>
          <li>Laptops</li>
          <li>Tablets</li>
      </ul>
  </div>
  <div class="filter__parameter title">
      <div class="filter__parameter-title">Manufacturer:</div>
  </div>
  <div class="filter__parameter filter__parameter--price title">
      <div class="filter__parameter-title">Price:</div>
      <input class="price-field" maxlength="6" type="text" name="min">
       - 
      <input class="price-field" maxlength="6" type="text" name="max">
      <button class="submit-price">OK</button>
  </div>
</aside>
