.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(2, 280px);
    justify-content: space-around;
    grid-gap: 40px;
    margin-top: 40px;
}