.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 180px);
    grid-template-rows: repeat(2, 260px);
    justify-content: space-between;
    grid-row-gap: 40px;
    margin-top: 40px;
}