<div class="cart">
  <ul class="cart__product-list">
    <li class="product">
      <div class="product__title">Amazon Kindle Whitepaper</div>
      
      <div class="product__price">2000 UAH</div>

      <div class="product__number">
        <span class="product__subtract-button"><</span>
        <span class="product__amount">2</span>
        <span class="product__add-button">></span>
      </div>
      <button class="product__delete-button">X</button>
    </li>
    <li class="product">
        <div class="product__title">Dell Inspiron 3576</div>
        
        <div class="product__number">
          <span class="product__subtract-button"><</span>
          <span class="product__amount">2</span>
          <span class="product__add-button">></span>
        </div>
        
        <div class="product__price">2000 UAH</div>
        <button class="product__delete-button">X</button>
      </li>
  </ul>
  <button class="cart__order-button">Proceed to checkout</button>
  <span class="cart__total-price">Total Price: 10000 UAH</span>  
</div>

