:host {
    --height: 40px;
}

.nav {
    --border-configs: 3px solid var(--global--color--secondary);

    display: flex;
    width: 100%;
    height: var(--height);
    background-color: var(--global--color--primary-light);
    border-top: var(--border-configs);
    border-bottom: var(--border-configs);
}

.nav__category {
    height: 100%;
    line-height: var(--height);
    text-align: center;
    flex-grow: 1;
    border-right: 3px solid var(--global--color--secondary);
    border-left: 3px solid var(--global--color--secondary);
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: rgb(219, 210, 241);
    }

    &:active {
        background-color: rgb(207, 192, 243);
    }
}

.nav__category.active {
    background-color: rgb(207, 192, 243);

    &:focus {
        outline: none;
    }
}